<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>未来资讯</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/common.css" rel="stylesheet">
  <link href="css/article.css" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="page-search">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">未来资讯</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">科技</a></li>
        <li><a href="#about">文化</a></li>
        <li><a href="#about">生活</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于我们 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="about.html">平台简介</a></li>
            <li><a href="#">联系方式</a></li>
          </ul>
        </li>
      </ul>

      <form class="header-search pull-right hidden-sm hidden-xs" action="">
        <button class="btn btn-link" type="submit"><span class="sr-only">搜索</span><span class="glyphicon glyphicon-search"></span></button>
        <input type="text" value="" class="form-control" placeholder="输入关键字搜索" name="q" id="searchBox" style="width: 180px;">
      </form>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="warp">
  <div class="post-topheader">
    <div class="container">
      <form class="row" action="">
        <div class="col-md-9">
          <input type="text" placeholder="输入关键字搜索" value="" name="q" class="input-lg form-control">
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary btn-lg btn-block" type="submit">搜索</button>
        </div>
      </form>
    </div>
  </div>


  <div class="container mt20">

    <div class="row">
      <div class="col-md-9 main search-result">
        <h3 class="h5 mt0">找到约 <strong>37</strong> 条结果</h3>


        <section>
          <h2 class="h4">
            <a target="_blank" href="#">未来人体科技也许是：耳朵听颜色、手臂听音乐</a>
            <span class="text-muted"></span>
          </h2>
          <p class="excerpt">21 岁那年，Neil Harbisson 的眼中还是看不到颜色，但是他可以听到颜色了.作为先天性色盲，Neil Harbisson 过去一直生活在黑白的世界中。后来，他在自己的大脑中安装了一个可以将颜色转成声音的设备，虽然 Neil Harbisson 看到的世界依然是灰暗的，但颜色对他来说已超越色彩本身，成为了可以听得到的音符...</p>
        </section>

        <section>
          <h2 class="h4">
            <a target="_blank" href="#">高升云道—云时代的智能硬件和物联网创业</a>
            <span class="text-muted"></span>
          </h2>
          <p class="excerpt">后来，他在自己的大脑中安装了一个可以将颜色转成声音的设备，虽然 Neil Harbisson 看到的世界依然是灰暗的，但颜色对他来说已超越色彩本身，成为了可以听得到的音符...</p>
        </section>

        <section>
          <h2 class="h4">
            <a target="_blank" href="#">数据重构未来 - 七牛·数据时代峰会</a>
            <span class="text-muted"></span>
          </h2>
          <p class="excerpt">Neil Harbisson 过去一直生活在黑白的世界中。后来，他在自己的大脑中安装了一个可以将颜色转成声音的设备，虽然 Neil Harbisson 看到的世界依然是灰暗的，但颜色对他来说已超越色彩本身，成为了可以听得到的音符...</p>
        </section>

        <div class="text-center">
          <ul class="pagination"><li class="active"><a href="javascript:void(0);">1</a></li><li><a href="/search?q=php&amp;type=activity&amp;page=2">2</a></li><li class="next"><a href="/search?q=php&amp;type=activity&amp;page=2" rel="next">下一页</a></li></ul>
        </div>
      </div>
      <div class="col-md-3 side">

      </div>
    </div>
  </div>

</div>


<footer id="footer">
  <div class="container">
    <div class="row hidden-xs">
      <dl class="col-sm-2 site-link">
        <dt>关于我们</dt>
        <dd><a href="#">平台简介</a></dd>
        <dd><a href="#">联系方式</a></dd>
      </dl>
      <dl class="col-sm-2 site-link">
        <dt>帮助中心</dt>
        <dd><a href="#">常见问题</a></dd>
        <dd><a href="#">服务条款</a></dd>
      </dl>
      <dl class="col-sm-2 site-link">
        <dt>友情链接</dt>
        <dd><a href="#">腾讯网</a></dd>
        <dd><a href="#">网易新闻</a></dd>
        <dd><a href="#">凤凰网</a></dd>
      </dl>
      <dl class="col-sm-2 site-link">
        <dt>关注我们</dt>
        <dd><a href="#"><img src="images/qrcode_weixin.png" alt=""/></a></dd>
      </dl>

    </div>
    <div class="copyright">
      Copyright &copy; 2015. <a rel="nofollow" href="http://www.miibeian.gov.cn/">粤ICP备15000000号-2</a>
    </div>
  </div>
</footer>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

